.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 1%;


    &__nav {
        display: flex;

        &-text {
            display: flex;
            gap: 10%;

            & a:hover {
                color: #FFAE2B;
            }
        }

        &-icon {
            color: #FFAE2B;
            margin-right: 10%;
        }
    }

    &__btn {
        border: #FFAE2B 1px solid;
        padding: 1% 2%;

        &:hover {
            background: #FFAE2B;
            color: #000;
        }
    }

    &__menuBtn {
        display: none;
        position: absolute;
        width: 8%;
        height: 8%;
        top: 0;
        right: 0;
    }


}


@media (max-width:425px) {

    .header {
        display: none;
        width: 33%;
        height: 200px;
        padding: 20% 0;
        border-radius: 10px 0px 10px 10px;

        &__nav {
            display: block;

            &-text {
                display: block;

                & a {
                    margin-bottom: 25%;
                }
            }

            &-icon {
                position: absolute;
                top: 2%;
                left: 5%;
            }
        }

        &__btn {
            margin: 0 auto 0 auto;
            width: 50%;
        }

        &.active {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background: #000;

        }

        &__menuBtn {
            display: block;
        }
    }
}